body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, rgba(43,51,71,1) 0%, rgba(27,39,63,1) 35%, rgba(18,24,43,1) 100%);
    width: 100vw;
    height: 100vh;
}

.App {
    .startup-exit {
        opacity: 1;
    } 

    .startup-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }

    .startup-exit-done {
        opacity: 0;
    }
}