.ArtifactSection {
    height: 100%;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;

    .carousel {
        display: flex;
        flex-direction: row;
        gap: 1.5vw;
        height: 35%;
        align-items: center;
        padding-left: 4.5vw;
        overflow: hidden;
        transition: all 200ms;
    }
}